:root {
  --background-color-primary: rgb(203 213 225);
  --background-color-secondary: rgb(241 245 249);
  --black: rgb(2 6 23);
  --gray: rgb(163 163 163);
  --red: rgb(185, 28, 28);
  --white: rgb(255 255 255);
  --primary: rgb(77 124 15);
  --secondary: rgb(101 163 13);
}

.container {
  width: 100%;
  height: 100vh;
  background: var(--background-color-primary);
}